*{
    margin: 0;
    padding: 0;
}
.main{
       
        background: url(photo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        filter: blur(0px);
        position: absolute;
        left: -30px;
        top: -30px;
       width:calc(100vw + 60px);
       height:calc(100vh + 60px);
       z-index: -1;
      }


.text{
    display: flex;
        justify-content: center;
        align-items: center;

}
.text .heading{
    margin-top:223px;

    color:black;
}